<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>766249435720-b9b8ep1ajqc22ti9e6d485d087kl98ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766249435720-b9b8ep1ajqc22ti9e6d485d087kl98ri</string>
	<key>API_KEY</key>
	<string>AIzaSyAHLdabagveR5j2AP82Ky-iSyGFk8Uxxc8</string>
	<key>GCM_SENDER_ID</key>
	<string>766249435720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vijay.airtelHack</string>
	<key>PROJECT_ID</key>
	<string>p2plending-8c8ec</string>
	<key>STORAGE_BUCKET</key>
	<string>p2plending-8c8ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:766249435720:ios:2c447a63b1a981d5</string>
	<key>DATABASE_URL</key>
	<string>https://p2plending-8c8ec.firebaseio.com</string>
</dict>
</plist>